:root {
    --primary-color: paleturquoise;
    --secondary-color: rgb(135, 220, 220);
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: black;
    background-color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    line-height: 1.5;
}

main > h1,
main > h2 {
    text-align: center; 
}

.social-media a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media span {
    margin-left: 5%;
}



/* Layout for screens up to 768px */

@media (max-width: 768px) {
    header {
        max-width: 100%;
        height: auto;
        padding: 5% 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-color);
    }
    
    .header-title {
        margin-right: 5%;
    }
    
    main {
        width: 100%;
        height: auto;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main *:not(:last-child) {
        margin-bottom: 3%;
    }
    
    
    footer {
        background-color: var(--secondary-color);
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
        gap: 10px;                               
    }
    
    .fab {
        font-size: 30px;
    }
    
    .copyright {
        grid-column: 1 / -1; 
    }
    
    .copyright p {
        margin-top: 5%;
    } 
}

/* Layout for screens up to 480px */

@media (max-width: 480px) {
    header {
        max-width: 100%;
        height: auto;
        padding: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-color);
    }
    
    .header-title {
        margin-right: 8%;
    }
    
    main {
        width: 100%;
        height: auto;
        padding: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main *:not(:last-child) {
        margin-bottom: 3%;
    }
    
    main > h1,
    main > h2 {
        text-align: center; 
    }
    
    main img {
        width: 100%;
        border-radius: 10px;
    }
    
    footer {
        background-color: var(--secondary-color);
        padding: 8%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
        gap: 10px;                               
    }
    
    .social-media a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .fab {
        font-size: 30px;
    }
    
    .copyright {
        grid-column: 1 / -1; 
    }
    
    .copyright p {
        margin-top: 5%;
    } 
}



/* Animations */

.sociala-medier a:hover {
    transform: scale(1.05);
}


/*

ORIGINAL INNAN ÄNDRINGAR

Media query för större skärmar (tablets)
@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}

/* Media query för ännu större skärmar (desktops) 
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
    }
}


/*
header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 150px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    width: 40%;
    margin-right: 10%;
    margin-left: 5%;
}

.header-title h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.header-title h2 {
    font-size: 1rem;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 5%;
}

.navbar-title {
    margin-left: 10px;
}

main .intro {
    margin-left: 5%;
}

main img {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}


.link-to-main-page {
    text-decoration: none;
    color: inherit;
}

/* Om mig 

.sid-rubrik {
    text-align: center;
  }

  .om-mig {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 5%;
    max-width: 1500px;
  }

  .om-mig-img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 15px;
  }

/* Portfolio

  .galleri {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.galleri figure {
    margin: 0;
    border-radius: 10px;
}

.galleri img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

/* CV 

.arbete {
    margin-left: 5%;
}

.utbildning {
    margin-right: 5%;
}

/*