:root {
    --primary-color: paleturquoise;
    --secondary-color: rgb(135, 220, 220);
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: black;
    background-color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General animations */

ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: black;
    transition: width 0.3s ease;
}

ul a:hover::after {
    width: 100%;
}

.contact a,
.social-media a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.contact a:hover,
.social-media a:hover {
    transform: scale(1.03);
}

/* Header */ 

header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    margin-left: 8%;
}

.header-title h2 {
    font-size: 1rem;
    margin-top: 3px;
}

.navbar {
    margin-right: 8%;
}


/* Navbar */

ul {
    list-style: none;
    line-height: 1.5;
    display: flex;
}

.navbar a,
footer a {
    position: relative; 
    padding-bottom: 2px;
    margin-left: 10px;
}

.link-to-main-page {
    text-decoration: none;
    color: inherit;
}

/* Main */

main {
    width: 100%;
    padding: 5% 8%;
}

.content-smaller-screens {
    display: none;
}

.content-larger-screens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-larger-screens h2,
.content-larger-screens h1,
.content-larger-screens article p {
    margin-bottom: 20px;
    margin-right: 10%;
}

.content-larger-screens img {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 45% 50%;
    overflow: hidden;
}

/* Footer */

footer {
    background-color: var(--secondary-color);
    padding: 4% 8%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 2fr 1fr;        
    gap: 0;
    position: relative;                        
}

footer a {
    position: relative;
}

footer h4 {
    margin-bottom: 10px;
}

.social-media a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fab {
    font-size: 30px;
}

.social-media span {
    margin-left: 10px;
}

footer ul {
    justify-self: end;
}

.copyright {
    grid-column: 1 / -1; 
    margin-top: 15px;
    align-self: end;
}

*/


/* Layout for screens up to 768px 

@media (max-width: 768px) {
    header {
        max-width: 100%;
        height: auto;
        padding: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-color);
    }
    
    .header-title {
        margin-right: 5%;
    }
    
    main {
        width: 100%;
        height: auto;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main *:not(:last-child) {
        margin-bottom: 3%;
    }

    main > h1,
    main > h2 {
    text-align: center; 
    }
    
    
    footer {
        background-color: var(--secondary-color);
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
        gap: 10px;                               
    }
    
    .fab {
        font-size: 30px;
    }
    
    .copyright {
        grid-column: 1 / -1; 
    }
    
    .copyright p {
        margin-top: 5%;
    } 
}

/* Layout for screens up to 480px

@media (max-width: 600px) {
    header {
        max-width: 100%;
        height: auto;
        padding: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-color);
    }
    
    .header-title {
        margin-right: 8%;
    }
    
    main {
        width: 100%;
        height: auto;
        padding: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main *:not(:last-child) {
        margin-bottom: 3%;
    }
    
    main > h1,
    main > h2 {
        text-align: center; 
    }
    
    main img {
        width: 100%;
        border-radius: 10px;
    }
    
    footer {
        background-color: var(--secondary-color);
        padding: 8%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
        gap: 10px;                               
    }
    
    .social-media a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .fab {
        font-size: 30px;
    }
    
    .copyright {
        grid-column: 1 / -1; 
    }
    
    .copyright p {
        margin-top: 5%;
    } 
}

*/


/*

ORIGINAL INNAN ÄNDRINGAR

Media query för större skärmar (tablets)
@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}

/* Media query för ännu större skärmar (desktops) 
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
    }
}


/* Om mig 

.sid-rubrik {
    text-align: center;
  }

  .om-mig {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 5%;
    max-width: 1500px;
  }

  .om-mig-img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 15px;
  }

/* Portfolio

  .galleri {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.galleri figure {
    margin: 0;
    border-radius: 10px;
}

.galleri img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

/* CV 

.arbete {
    margin-left: 5%;
}

.utbildning {
    margin-right: 5%;
}

/*